<a href="https://colab.research.google.com/github/Bekmachev/test/blob/main/Homework_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**В работе используется датасет с сайта** https://colab.research.google.com/corgiredirector?site=https%3A%2F%2Fwww.kaggle.com%2Fdatasets%2Falitaqi000%2Fworld-university-rankings-2023

In [46]:
import pandas as pd
from sklearn.preprocessing import normalize

In [47]:
data_reyt_univ = pd.read_csv('World University Rankings 2023.csv')
data_reyt_univ

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,United Kingdom,"20,965",10.6,42%,48 : 52,96.4,92.3,99.7,99.0,74.9,96.2
1,2,Harvard University,United States,"21,887",9.6,25%,50 : 50,95.2,94.8,99.0,99.3,49.5,80.5
2,3,University of Cambridge,United Kingdom,"20,185",11.3,39%,47 : 53,94.8,90.9,99.5,97.0,54.2,95.8
3,3,Stanford University,United States,"16,164",7.1,24%,46 : 54,94.8,94.2,96.7,99.8,65.0,79.8
4,5,Massachusetts Institute of Technology,United States,"11,415",8.2,33%,40 : 60,94.2,90.7,93.6,99.8,90.9,89.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2336,-,University of the West of Scotland,NaN,NaN,NaN,NaN,NaN,34.0–39.2,24.1,15.5,61.5,37.9,76.8
2337,-,University of Windsor,NaN,NaN,NaN,NaN,NaN,34.0–39.2,35.1,29.4,34.5,44.2,88.7
2338,-,University of Wolverhampton,NaN,NaN,NaN,NaN,NaN,34.0–39.2,18.2,14.3,68.8,37.3,72.0
2339,-,University of Wuppertal,NaN,NaN,NaN,NaN,NaN,34.0–39.2,26.4,26.7,52.8,52.1,47.6
2340,-,Xi’an Jiaotong-Liverpool University,NaN,NaN,NaN,NaN,NaN,34.0–39.2,17.8,14.8,68.2,38.2,72.4

**Выполним поиск дубликатов в таблице**

In [48]:
data_reyt_univ.loc[data_reyt_univ.duplicated()]

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
2288,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2289,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2290,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2291,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2292,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2293,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2294,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2295,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2296,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2297,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2298,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2299,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2300,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2301,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2302,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2303,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2304,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2305,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2306,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2307,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2308,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2309,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2310,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2311,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2312,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2313,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2314,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2315,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2316,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Как видно, в датафрейме имеются полностью пустые строки, которые повторяются. Удалим их

In [49]:
data_reyt_univ.drop_duplicates(subset=None, keep=False)

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,United Kingdom,"20,965",10.6,42%,48 : 52,96.4,92.3,99.7,99.0,74.9,96.2
1,2,Harvard University,United States,"21,887",9.6,25%,50 : 50,95.2,94.8,99.0,99.3,49.5,80.5
2,3,University of Cambridge,United Kingdom,"20,185",11.3,39%,47 : 53,94.8,90.9,99.5,97.0,54.2,95.8
3,3,Stanford University,United States,"16,164",7.1,24%,46 : 54,94.8,94.2,96.7,99.8,65.0,79.8
4,5,Massachusetts Institute of Technology,United States,"11,415",8.2,33%,40 : 60,94.2,90.7,93.6,99.8,90.9,89.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2336,-,University of the West of Scotland,NaN,NaN,NaN,NaN,NaN,34.0–39.2,24.1,15.5,61.5,37.9,76.8
2337,-,University of Windsor,NaN,NaN,NaN,NaN,NaN,34.0–39.2,35.1,29.4,34.5,44.2,88.7
2338,-,University of Wolverhampton,NaN,NaN,NaN,NaN,NaN,34.0–39.2,18.2,14.3,68.8,37.3,72.0
2339,-,University of Wuppertal,NaN,NaN,NaN,NaN,NaN,34.0–39.2,26.4,26.7,52.8,52.1,47.6
2340,-,Xi’an Jiaotong-Liverpool University,NaN,NaN,NaN,NaN,NaN,34.0–39.2,17.8,14.8,68.2,38.2,72.4

**Создадим две новые таблицы на основе исходного датафрейма, чтоб использовать функции объединения**

In [50]:
df1 = data_reyt_univ[['University Rank', 'Name of University', 'Teaching Score', 'Research Score']].loc[:12]
df2 = data_reyt_univ[['University Rank', 'Name of University', 'Location', 'Teaching Score', 'Citations Score']].loc[10:20]

In [51]:
df1

,University Rank,Name of University,Teaching Score,Research Score
0,1,University of Oxford,92.3,99.7
1,2,Harvard University,94.8,99.0
2,3,University of Cambridge,90.9,99.5
3,3,Stanford University,94.2,96.7
4,5,Massachusetts Institute of Technology,90.7,93.6
5,6,California Institute of Technology,90.9,97.0
6,7,Princeton University,87.6,95.9
7,8,"University of California, Berkeley",86.4,95.8
8,9,Yale University,92.6,92.7
9,10,Imperial College London,82.8,90.8
10,11,Columbia University,89.4,87.7
11,11,ETH Zurich,82.6,95.4
12,13,The University of Chicago,86.5,88.8

In [52]:
df2

,University Rank,Name of University,Location,Teaching Score,Citations Score
10,11,Columbia University,United States,89.4,97.1
11,11,ETH Zurich,Switzerland,82.6,90.7
12,13,The University of Chicago,United States,86.5,97.7
13,14,University of Pennsylvania,United States,86.0,97.0
14,15,Johns Hopkins University,United States,79.4,97.0
15,16,Tsinghua University,NaN,90.1,88.0
16,17,Peking University,NaN,92.5,80.4
17,18,University of Toronto,Canada,77.3,92.8
18,19,National University of Singapore,NaN,76.4,90.2
19,20,Cornell University,United States,80.2,97.3
20,21,"University of California, Los Angeles",United States,80.4,95.4

In [53]:
pd.merge(df1, df2, on='Name of University', how='inner')

,University Rank_x,Name of University,Teaching Score_x,Research Score,University Rank_y,Location,Teaching Score_y,Citations Score
0,11,Columbia University,89.4,87.7,11,United States,89.4,97.1
1,11,ETH Zurich,82.6,95.4,11,Switzerland,82.6,90.7
2,13,The University of Chicago,86.5,88.8,13,United States,86.5,97.7

In [54]:
pd.merge(df1, df2, on='University Rank', how='left')

,University Rank,Name of University_x,Teaching Score_x,Research Score,Name of University_y,Location,Teaching Score_y,Citations Score
0,1,University of Oxford,92.3,99.7,NaN,NaN,NaN,NaN
1,2,Harvard University,94.8,99.0,NaN,NaN,NaN,NaN
2,3,University of Cambridge,90.9,99.5,NaN,NaN,NaN,NaN
3,3,Stanford University,94.2,96.7,NaN,NaN,NaN,NaN
4,5,Massachusetts Institute of Technology,90.7,93.6,NaN,NaN,NaN,NaN
5,6,California Institute of Technology,90.9,97.0,NaN,NaN,NaN,NaN
6,7,Princeton University,87.6,95.9,NaN,NaN,NaN,NaN
7,8,"University of California, Berkeley",86.4,95.8,NaN,NaN,NaN,NaN
8,9,Yale University,92.6,92.7,NaN,NaN,NaN,NaN
9,10,Imperial College London,82.8,90.8,NaN,NaN,NaN,NaN
10,11,Columbia University,89.4,87.7,Columbia University,United States,89.4,97.1
11,11,Columbia University,89.4,87.7,ETH Zurich,Switzerland,82.6,90.7
12,11,ETH Zurich,82.6,95.4,Columbia University,United States,89.4,97.1
13,11,ETH Zurich,82.6,95.4,ETH Zurich,Switzerland,82.6,90.7
14,13,The University of Chicago,86.5,88.8,The University of Chicago,United States,86.5,97.7

In [55]:
pd.merge(df1, df2, on='Name of University', how='outer')

,University Rank_x,Name of University,Teaching Score_x,Research Score,University Rank_y,Location,Teaching Score_y,Citations Score
0,1,University of Oxford,92.3,99.7,NaN,NaN,NaN,NaN
1,2,Harvard University,94.8,99.0,NaN,NaN,NaN,NaN
2,3,University of Cambridge,90.9,99.5,NaN,NaN,NaN,NaN
3,3,Stanford University,94.2,96.7,NaN,NaN,NaN,NaN
4,5,Massachusetts Institute of Technology,90.7,93.6,NaN,NaN,NaN,NaN
5,6,California Institute of Technology,90.9,97.0,NaN,NaN,NaN,NaN
6,7,Princeton University,87.6,95.9,NaN,NaN,NaN,NaN
7,8,"University of California, Berkeley",86.4,95.8,NaN,NaN,NaN,NaN
8,9,Yale University,92.6,92.7,NaN,NaN,NaN,NaN
9,10,Imperial College London,82.8,90.8,NaN,NaN,NaN,NaN
10,11,Columbia University,89.4,87.7,11,United States,89.4,97.1
11,11,ETH Zurich,82.6,95.4,11,Switzerland,82.6,90.7
12,13,The University of Chicago,86.5,88.8,13,United States,86.5,97.7
13,NaN,University of Pennsylvania,NaN,NaN,14,United States,86.0,97.0
14,NaN,Johns Hopkins University,NaN,NaN,15,United States,79.4,97.0
15,NaN,Tsinghua University,NaN,NaN,16,NaN,90.1,88.0
16,NaN,Peking University,NaN,NaN,17,NaN,92.5,80.4
17,NaN,University of Toronto,NaN,NaN,18,Canada,77.3,92.8
18,NaN,National University of Singapore,NaN,NaN,19,NaN,76.4,90.2
19,NaN,Cornell University,NaN,NaN,20,United States,80.2,97.3
20,NaN,"University of California, Los Angeles",NaN,NaN,21,United States,80.4,95.4

In [56]:
pd.merge(df1, df2, left_index=True, right_index=True, how='inner')

,University Rank_x,Name of University_x,Teaching Score_x,Research Score,University Rank_y,Name of University_y,Location,Teaching Score_y,Citations Score
10,11,Columbia University,89.4,87.7,11,Columbia University,United States,89.4,97.1
11,11,ETH Zurich,82.6,95.4,11,ETH Zurich,Switzerland,82.6,90.7
12,13,The University of Chicago,86.5,88.8,13,The University of Chicago,United States,86.5,97.7

**Выполним нормализацию численных данных**

Большинство данных в таблице уже отнормированы, за исключением столбца No of student, однако применив функцию info(), видно, что данные в столбец имеют строковыйти тип, поэтому сначала преобразуем данные в численный вид. Заодно преобразуем столбец International Student в целочисленный вид

In [57]:
data_reyt_univ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341 entries, 0 to 2340
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   University Rank              2341 non-null   object
 1   Name of University           2233 non-null   object
 2   Location                     2047 non-null   object
 3   No of student                2209 non-null   object
 4   No of student per staff      2208 non-null   float64
 5   International Student        2209 non-null   object
 6   Female:Male Ratio            2128 non-null   object
 7   OverAll Score                1799 non-null   object
 8   Teaching Score               1799 non-null   float64
 9   Research Score               1799 non-null   float64
 10  Citations Score              1799 non-null   float64
 11  Industry Income Score        1799 non-null   float64
 12  International Outlook Score  1799 non-null   float64
dtypes: float64(6), object(7)
memory usage: 237.9+ KB

In [58]:
def change_chart(y):
    y = str(y).replace(',', '')
    y = float(y)
    return y
data_reyt_univ['No of student'] = data_reyt_univ['No of student'].apply(change_chart)
data_reyt_univ.sort_values(by = 'No of student', ascending=True)

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
1985,Reporter,MIOTI Tech and Business School,Spain,115.0,38.3,9%,31 : 69,NaN,NaN,NaN,NaN,NaN,NaN
1937,Reporter,Kings University,Nigeria,132.0,3.3,0%,42 : 58,NaN,NaN,NaN,NaN,NaN,NaN
1785,Reporter,Catholic University in Erbil,Iraq,152.0,3.6,0%,58 : 42,NaN,NaN,NaN,NaN,NaN,NaN
1900,Reporter,Institute of Cancer Research,United Kingdom,195.0,2.8,33%,62 : 38,NaN,NaN,NaN,NaN,NaN,NaN
1965,Reporter,Liverpool School of Tropical Medicine,United Kingdom,210.0,2.2,39%,65 : 35,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2336,-,University of the West of Scotland,NaN,NaN,NaN,NaN,NaN,34.0–39.2,24.1,15.5,61.5,37.9,76.8
2337,-,University of Windsor,NaN,NaN,NaN,NaN,NaN,34.0–39.2,35.1,29.4,34.5,44.2,88.7
2338,-,University of Wolverhampton,NaN,NaN,NaN,NaN,NaN,34.0–39.2,18.2,14.3,68.8,37.3,72.0
2339,-,University of Wuppertal,NaN,NaN,NaN,NaN,NaN,34.0–39.2,26.4,26.7,52.8,52.1,47.6
2340,-,Xi’an Jiaotong-Liverpool University,NaN,NaN,NaN,NaN,NaN,34.0–39.2,17.8,14.8,68.2,38.2,72.4

In [59]:
def del_chart(x):
    x = str(x).replace('%', '')
    if x == '': x = None
    else: x = float(x)
    return x
data_reyt_univ['International Student'] = data_reyt_univ['International Student'].apply(del_chart)
data_reyt_univ.sort_values(by = 'International Student', ascending=False)

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
2052,Reporter,Paris University of International Education,France,445.0,29.7,100.0,32 : 68,NaN,NaN,NaN,NaN,NaN,NaN
1798,Reporter,César Ritz Colleges Switzerland,Switzerland,547.0,4.8,99.0,49 : 51,NaN,NaN,NaN,NaN,NaN,NaN
218,201–250,Macau University of Science and Technology,NaN,11993.0,38.1,91.0,57 : 43,51.2–54.3,35.4,30.7,79.2,50.1,99.7
1968,Reporter,London Business School,United Kingdom,1995.0,18.1,91.0,38 : 62,NaN,NaN,NaN,NaN,NaN,NaN
533,501–600,Constructor University Bremen,NaN,1556.0,21.6,84.0,43 : 57,39.3–42.0,34.5,31.4,40.5,56.2,90.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2336,-,University of the West of Scotland,NaN,NaN,NaN,NaN,NaN,34.0–39.2,24.1,15.5,61.5,37.9,76.8
2337,-,University of Windsor,NaN,NaN,NaN,NaN,NaN,34.0–39.2,35.1,29.4,34.5,44.2,88.7
2338,-,University of Wolverhampton,NaN,NaN,NaN,NaN,NaN,34.0–39.2,18.2,14.3,68.8,37.3,72.0
2339,-,University of Wuppertal,NaN,NaN,NaN,NaN,NaN,34.0–39.2,26.4,26.7,52.8,52.1,47.6
2340,-,Xi’an Jiaotong-Liverpool University,NaN,NaN,NaN,NaN,NaN,34.0–39.2,17.8,14.8,68.2,38.2,72.4

In [60]:
normalized_data = normalize(data_reyt_univ[['No of student', 'No of student per staff']].loc[:1500], norm='l1', axis=1)
normalized_data

array([[9.99494651e-01, 5.05349072e-04],
       [9.99561576e-01, 4.38424230e-04],
       [9.99440492e-01, 5.59508425e-04],
       ...,
       [9.98701766e-01, 1.29823409e-03],
       [9.98322502e-01, 1.67749757e-03],
       [9.98644112e-01, 1.35588796e-03]])

**Посчитаем процент пропусков в таблице**

In [61]:
data_reyt_univ.isnull().sum() * 100 / len(data_reyt_univ)

University Rank                 0.000000
Name of University              4.613413
Location                       12.558736
No of student                   5.638616
No of student per staff         5.681333
International Student           5.766766
Female:Male Ratio               9.098676
OverAll Score                  23.152499
Teaching Score                 23.152499
Research Score                 23.152499
Citations Score                23.152499
Industry Income Score          23.152499
International Outlook Score    23.152499
dtype: float64

1. Строки без названия университета можно удалить ввиду их малого количества и потому что без названия университета остальные значения не несут практической информации (после удаления значительно сократился процент пропусков в столбцах, содержащих информацию о студентах)
2. Пропуски в названии локации заполним строкой "Unknown"
3. Пропуски в колонках No of student, No of student per staff, International Student, Teaching Score,	Research Score,	Citations Score,	Industry Income Score,	International Outlook Score заменим средними значениями, поскольку в датасете отсутствуют выбросы
4. Пропуски в столбцах Female:Male Ratio и OverAll Score заменим на "Unknown"

In [64]:
data_reyt_univ.dropna(subset=['Name of University'], inplace=True)

In [67]:
data_reyt_univ['Location'].fillna('Unknown', inplace=True)

In [71]:
data_reyt_univ['No of student'].fillna(data_reyt_univ['No of student'].mean(), inplace=True)
data_reyt_univ['No of student per staff'].fillna(data_reyt_univ['No of student per staff'].mean(), inplace=True)
data_reyt_univ['International Student'].fillna(data_reyt_univ['International Student'].mean(), inplace=True)
data_reyt_univ['Teaching Score'].fillna(data_reyt_univ['Teaching Score'].mean(), inplace=True)
data_reyt_univ['Research Score'].fillna(data_reyt_univ['Research Score'].mean(), inplace=True)
data_reyt_univ['Citations Score'].fillna(data_reyt_univ['Citations Score'].mean(), inplace=True)
data_reyt_univ['Industry Income Score'].fillna(data_reyt_univ['Industry Income Score'].mean(), inplace=True)
data_reyt_univ['International Outlook Score'].fillna(data_reyt_univ['International Outlook Score'].mean(), inplace=True)

In [74]:
data_reyt_univ['Female:Male Ratio'].fillna('Unknown', inplace=True)

In [75]:
data_reyt_univ['OverAll Score'].fillna('Unknown', inplace=True)

**Напоследок проверим, все ли пропуски заполнены в таблице**

In [76]:
data_reyt_univ.isnull().sum() * 100 / len(data_reyt_univ)

University Rank                0.0
Name of University             0.0
Location                       0.0
No of student                  0.0
No of student per staff        0.0
International Student          0.0
Female:Male Ratio              0.0
OverAll Score                  0.0
Teaching Score                 0.0
Research Score                 0.0
Citations Score                0.0
Industry Income Score          0.0
International Outlook Score    0.0
dtype: float64

In [45]:
data_reyt_univ['Industry Income Score'].min(), data_reyt_univ['Industry Income Score'].mean(), data_reyt_univ['Industry Income Score'].max()

(36.9, 46.95241138872748, 100.0)

In [63]:
data_reyt_univ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341 entries, 0 to 2340
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   University Rank              2341 non-null   object
 1   Name of University           2233 non-null   object
 2   Location                     2047 non-null   object
 3   No of student                2209 non-null   float64
 4   No of student per staff      2208 non-null   float64
 5   International Student        2206 non-null   float64
 6   Female:Male Ratio            2128 non-null   object
 7   OverAll Score                1799 non-null   object
 8   Teaching Score               1799 non-null   float64
 9   Research Score               1799 non-null   float64
 10  Citations Score              1799 non-null   float64
 11  Industry Income Score        1799 non-null   float64
 12  International Outlook Score  1799 non-null   float64
dtypes: float64(8), object(5)
memory usage: 237.9+ KB